@model List<Vancl.TMS.Model.Transport.PreDispatch.ViewPreDispatchModel>
@{
    ViewBag.Title = "查询创建提货单";
    Layout = "~/Views/Shared/_Layout_Frame.cshtml";
}
@section header{
    <script src="@Url.Content("~/Scripts/lib/json2.js")  " type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/references/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/references/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins/calendar/WdatePicker.js")"></script>
    <script type="text/javascript">
        // 数组第一次出现指定元素值的位置 
Array.prototype.indexOf = function (o) {
    for (var i = 0; i < this.length; i++) if (this[i] == o) return i;
    return -1;
}

Array.prototype.hasSameBatchNo = function (batchNo) {
    for (var i = 0; i < this.length; i++) if (this[i].CustomerBatchNo == batchNo) return true;
    return false;
}

Array.prototype.hasDeffTransportType = function () {
    for (var i = 0; i < this.length; i++) if (this[0].TransportTypeDescription != this[i].TransportTypeDescription) return true;
    return false;
}

Array.prototype.hasDiffLinePlan = function () {
    for (var i = 0; i < this.length; i++) if (this[0].LPID != this[i].LPID) return true;
    return false;
}

var currentList = new Array();

function query(){
   if ($("#S_DepartureID").val() == "") {
            alert("出发地不能为空或所有站点!");
            return;
        }
        if ($("#S_ArrivalID").val() == "") {
            alert("目的地不能为空或所有站点!");
            return;
        }
    $("form").submit();
    currentList = new Array();
}

function scanSuccess(data) {
    if (data == null) return;
    if (data.HasError) {
        alert(data.Message);
        return;
    }
    $("#tmpSimpleList").tmpl(data).appendTo("#scanList tbody");
    var count = parseInt($("#sp_count").text());
    if (!isNaN(count)) $("#sp_count").text(count + 1);
    currentList.push(data);
    $("#BatchNo").val("");
}

function scanFailure(jqXHR, textStatus, errorThrown) {
    alert(jqXHR.responseText);
}

function resetPage() {
    currentList = new Array();
    $("#scanList tbody").html("");
    $("#sp_count").text("0");
    $("#BatchNo").val("");
}

function createDelivery() {
    TMS.Page.GetDataTableChecked().each(function(){
        var o = {};
        o.PDID=$(this).attr("PDID"); 
        o.TPID=$(this).attr("TPID"); 
        o.LPID=$(this).attr("LPID");  
        o.BatchNo=$(this).attr("BatchNo");  
        o.Source=$(this).attr("Source");  
        o.CustomerBatchNo=$(this).attr("CustomerBatchNo");  
        o.DepartureName=$(this).attr("DepartureName"); 
        o.DepartureID=$(this).attr("DepartureID");  
        o.ArrivalName=$(this).attr("ArrivalName"); 
        o.ArrivalID=$(this).attr("ArrivalID"); 
        o.TransportType=$(this).attr("TransportType");  
        o.TransportTypeDescription=$(this).attr("TransportTypeDescription"); 
        currentList.push(o);        
    });
    if(currentList.length>0){
        if (currentList.hasDeffTransportType()) {
            if (!confirm("存在默认运输方式不同的批次号/箱号,是否合并?")) return;
        }
        if (currentList.hasDiffLinePlan()) {
            if (!confirm("存在默认线路计划不同的批次号/箱号,请选择一条线路计划.")) return;
            else {
                chooseLinePlan();
            }
        }
        else{
            if(!confirm("使用默认线路计划?")){
                chooseLinePlan();
            }
            else{
                $("#input_lpid").val(currentList[0].LPID);
                create();
            }
        }
    }
    else
    {
        alert("请至勾选一个批次号/箱号");
    }
}

function create()
{
    if($("#input_lpid").val()!="0")
    {
        var model = new Object();
        model.LPID = $("#input_lpid").val();
        model.DepartureID = $("#S_DepartureID").val();
        model.ArrivalID = $("#S_ArrivalID").val();
        model.Source = 6;
        model.Details = currentList;
        $.ajax({
            url: "@Url.Action("CreateDelivery")",
            data: JSON.stringify(model),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            success: function (result) {
                if (result == null || result == undefined) {
                    ymPrompt.errorInfo({
                        message: '异步调用出错[返回result=null].'
                    });
                    currentList = new Array();
                    return;
                }
                if (result.IsSuccess) {
                    resetPage();
                    alert("提货单生成成功.");
                } else {
                    ymPrompt.errorInfo({
                        message: result.Message
                    });
                    currentList = new Array();
                    return;
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                ymPrompt.errorInfo({
                    message: '调用读取入库数量服务失败' + textStatus + errorThrown
                });
                currentList = new Array();
            }
        });
    }
    else{
        alert("线路计划获取失败.");
    }
}

function chooseLinePlan(){
    var DepartureID = $("#S_DepartureID").val();
    var ArrivalID = $("#S_ArrivalID").val();
    var url = "@Url.Action("CreateLinePlanList", "Plan", new { Area = "Transport" })?DepartureID=" + DepartureID + "&ArrivalID=" + ArrivalID;
    ymPrompt.win({
        message: url,
        width: 800,
        height: 420,
        title: "选择线路计划",
        maxBtn: false,
        minBtn: false,
        iframe: true,
        handler: function (tp, result) {
            if (tp == "ok") {
                $("#input_lpid").val(result.LPID);
                create();
            }
            else
            {
                $("#input_lpid").val("0");
            }
        }
    });
}

function showLinePlan(lpid){
    if(lpid=="" || lpid=="0")
    {
        alert("没有相应的线路计划");
        return;
    }

    $.ajax({
            url: "@Url.Action("GetLinePlanInfo")",
            data: {lpid:lpid},
            dataType: "json",
            //contentType: "application/json; charset=utf-8",
            type: 'POST',
            success: function (result) {
                if (result == null || result == undefined) {
                    ymPrompt.errorInfo({
                        message: '异步调用出错[返回result=null].'
                    });
                    return;
                }
                else
                {
                    alert("出发地:【"+result.DepartureName+"】 目的地:【"+result.ArrivalName+"】 承运商:【"+result.CarrierName+"】 时效:【"+result.ArrivalTiming+"H】");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                ymPrompt.errorInfo({
                    message: '调用后台服务失败' + textStatus + errorThrown
                });
            }
        });

}

    </script>
}
<div class="search_condition" id="divSearchCondition">
    @using (Ajax.BeginForm(new AjaxOptions { LoadingElementId = "Loading", UpdateTargetId = "SearchResultList" }))
    {
        <table class="tb_insert">
            <tr>
                <th style="width: 100px">
                    出发地
                </th>
                <td style="width: 200px">
                    <input id="departureName" name="departureName" type="text" class="textbox selectDeparture"
                        onclick="TMS.Page.SelectStation(this,'#S_DepartureID');" readonly="readonly" />
                    <input id="S_DepartureID" name="S_DepartureID" type="hidden" />
                </td>
                <th style="width: 100px">
                    目的地
                </th>
                <td style="width: 200px">
                    <input id="arrivalName" type="text" name="arrivalName" class="drop textbox" onclick="TMS.Page.SelectStation(this,'#S_ArrivalID','#S_DepartureID');"
                        readonly="readonly" />
                    <input id="S_ArrivalID" name="S_ArrivalID" type="hidden" />
                </td>
                <th style="width: 100px">
                    出库时间
                </th>
                <td style="width: 200px">
                    @Html.TextBox("OutBoundTimeBegin", string.Format("{0:yyyy-MM-dd HH:mm:ss}", DateTime.Now.ToString("yyyy-MM-dd 00:00:00")), new { @class = "Wdate1", onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" })
                </td>
                <th style="width: 100px">
                    到
                </th>
                <td style="width: 200px">
                    @Html.TextBox("OutBoundTimeEnd", string.Format("{0:yyyy-MM-dd HH:mm:ss}", DateTime.Now.ToString("yyyy-MM-dd 23:59:59")), new { @class = "Wdate1", onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" })
                </td>
            </tr>
            <tr>
                <td colspan="8" style="text-align:right">
                    <input type="button" value="查询" onclick="query()" />
                    <input type="button" value="生成待调度提货单" onclick="createDelivery()" />
                    <input type="hidden" value="0" id="input_lpid" />
                    <input type="button" value="重置" onclick="javascript:window.location.reload();" />
                    <input type="button" value="返回" onclick='location="@Url.Action("List")"' />
                </td>
            </tr>
        </table>
    }
</div>
<div class="DataGirdPanel" id="SearchResultList">
    @{
        Html.RenderPartial("_PartialPreDispathInfoList", Model);
    }
</div>
