@model IList<Vancl.TMS.Model.BaseInfo.Line.ViewLinePlanModel>

<table class="tbCarrierList center">
    <thead>
        <tr>
            <th>
                出发地
            </th>
            <th>
                目的地
            </th>
            <th>
                承运商名称
            </th>
            <th>
                运输方式
            </th>
            <th>
                到库考核点
            </th>
            <th>
                离库考核点
            </th>
            <th>
                到货时效
            </th>
            <th>
                保险费率
            </th>
            <th>
                运费类型
            </th>
            <th>
                最低收费
            </th>
            <th>
                超远提货费
            </th>
            <th>
                超远送货费
            </th>
            <th>
                超远转运费率
            </th>
            <th>
                优先级别
            </th>
            <th>
                线路类型
            </th>
            <th>
                货物类型
            </th>
            <th>
                线路编号
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.DepartureName
            </td>
            <td>
                @item.ArrivalName
            </td>
            <td>
                @item.CarrierName
            </td>
            <td>
                @Vancl.TMS.Util.EnumUtil.EnumHelper.GetDescription(item.TransportType)
            </td>
            <td>
                @item.ArrivalAssessmentTime.ToString("HH:mm")
            </td>
            <td>
                @item.LeaveAssessmentTime.ToString("HH:mm")
            </td>
            <td>
                @item.ArrivalTiming
            </td>
            <td>
                @item.InsuranceRate
            </td>
            <td>
                @Vancl.TMS.Util.EnumUtil.EnumHelper.GetDescription(item.ExpressionType)
            </td>
            <td>
                @item.LowestPrice
            </td>
            <td>
                @item.LongDeliveryPrice
            </td>
            <td>
                @item.LongPickPrice
            </td>
            <td>
                @item.LongTransferRate
            </td>
            <td>
                @Vancl.TMS.Util.EnumUtil.EnumHelper.GetDescription(item.Priority)
            </td>
            <td>
                @Vancl.TMS.Util.EnumUtil.EnumHelper.GetDescription(item.LineType)
            </td>
            <td>
                @(Vancl.TMS.Util.EnumUtil.EnumHelper.GetDescription<Vancl.TMS.Model.Common.Enums.GoodsType>((int)item.LineGoodsType))
            </td>
            <td>
                @item.LineID
            </td>
        </tr>
    }
    </tbody>
</table>
