@using Vancl.TMS.Model.BaseInfo
@{
    ViewBag.Title = "操作项";
    Layout = "~/Views/Shared/_Layout_Frame.cshtml";
}
@section header
{
    <style type="text/css">
        .ContainerItem
        {
            text-align: center;
            border-bottom: solid 1px #ccc;
            padding: 10px 0px 10px 0px;
            min-height: 30px;
        }
        .Info
        {
            color: blue;
        }
        .Error
        {
            color: Red;
        }
        .Success
        {
            color: Green;
        }
        .Warning
        {
            color: Chocolate;
        }
        #CilentServiceInfo
        {
            padding: 10px;
            margin-top: 18px;
            border: 1px solid gray;
            color: gray;
        }
        
        #tbInner
        {
            width: 100%;
            margin: 0 auto;
            border-collapse: collapse;
            line-height: 28px;
        }
        
        .tbPrintList
        {
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;
        }
        
        .tbPrintList thead th
        {
            background: #eee;
            border: 1px solid #ddd;
            font-size: 12px;
        }
        .tbPrintList thead td
        {
            text-align: right;
            border: 1px solid #ddd;
            font-size: 12px;
        }
        
        .tbPrintList tbody td
        {
            text-align: right;
            border: 1px solid #ddd;
        }
        
        .passError
        {
            text-align: right;
            border: 1px solid #ddd;
            color: red;
        }
        .curError
        {
            text-align: right;
            border: 1px solid #ddd;
            font-weight: 700;
            color: red;
            font-size: 18px;
        }
        .curErrorto td
        {
            color: red;
        }
        .curSmi
        {
            font-size: 12px;
        }
        .curCorrect
        {
            text-align: center;
            border: 1px solid #ddd;
            font-weight: 700;
            font-size: 18px;
        }
        #PrintList
        {
            height: 330px;
            overflow: auto;
        }
        
        .left
        {
            float: left;
            display: inline;
        }
        .center
        {
            float: left;
            display: inline;
        }
        .right
        {
            float: right;
            display: inline;
        }
    </style>
    <script src="@Url.Content("~/Scripts/pages/sorting/InboundV2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/references/jQuery.tmpl.min.js")" type="text/javascript"></script>
    <script id="tmpSimpleList" type="text/html">
       
        <tr>
            <td style="overflow: hidden">
                <label title=" ${FormCode}"> ${FormCode}</label>   
            </td>
            <td style="overflow: hidden">
                <label title=" ${DeliverCode}"> ${DeliverCode}</label>
               
            </td>
            <td style="overflow: hidden">
                <label title=" ${Status}"> ${Status}</label>
               
            </td>
            <td style="overflow: hidden">
                <label title=" ${Message}"> ${Message}</label>
               
            </td>
        </tr>
    </script>
}
<div class="search_condition" id="divSearchCondition">
    <table class="tb_insert">
        <tr>
            <th>
                <select id="selFormType" name="ScanType">
                    <option value="0" selected="selected">运单号</option>
                    <option value="2">配送单号</option>
                </select>
            </th>
            <td>
                <input id="txtFormCode" name="FormCode" type="text" maxlength="40" style="width: 200px;" />
            </td>
            <th style="width: 60px;">
                商家
            </th>
            <td>
                <select id="Merchant" style="width: 200px; font-size: 14px!important;">
                    @{
                        var MerchantList = (IList<Vancl.TMS.Model.BaseInfo.MerchantModel>)ViewBag.MerchantList;
                        if (MerchantList.Count != 1)
                        {
                        <option isneedweight="True" value="0">--全部--</option>
                        }
                        foreach (MerchantModel merchant in MerchantList)
                        {             
                        <option value ="@merchant.ID" 
                                @*@(merchant.ID==26?"Selected":"")*@
                                    IsSkipPrintBill="@merchant.IsSkipPrintBill" 
                                    IsNeedWeight ="@merchant.IsNeedWeight"  
                                    IsCheckWeight="@merchant.IsCheckWeight" 
                                    CheckWeight="@merchant.CheckWeight">
                            @merchant.Name
                        </option>
                        }
                    }
                </select>
            </td>
            <th style="width: 80px;">
                称重重量
            </th>
            <td>
                <input id="txtBillWeight" type="text" name="BillWeight" maxlength="10" style="width: 80px;
                    text-align: right; padding-right: 3px;" onkeyup="clearNoNum(this)" />
            </td>
            <th style="width: 60px;">
                打印模板
            </th>
            <td>
                <select id="Template" style="width: 160px; font-size: 14px!important;">
                    @if (ViewBag.PrintTemplates != null)
                    {
                        foreach (Vancl.TMS.Model.Sorting.BillPrint.BillPrintTemplateModel tpl in ViewBag.PrintTemplates)
                        {
                        <option value="@tpl.Id" @(tpl.IsDefault ? "selected" : "")>
                            @(tpl.IsDefault ? "(默认)" : "")@tpl.Name
                        </option>
                        }
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="6">
            </td>
            <th>
                今日入库数:
            </th>
            <td>
                <span id="TotalCount" style="font-weight: bold; font-size: 22px;">@ViewBag.TotalCount</span>
            </td>
        </tr>
    </table>
</div>
<div class="box_title">
    <h1 class="s">
        入库运单列表</h1>
    @*  <div style="text-align: right">
        <span style="font-weight:bold;">运单件数</span>
        &nbsp;    &nbsp;    &nbsp; 本单共<span id="CurrentCount" style="font-size: 16px;">0</span>件  
    </div>*@
</div>
<div class="DataGirdPanel">
    <div class="toolbar">
        <ul>
            <li class="toolbtn"><a href="javascript:fnOpenModalDialog('/BaseInfo/AudioSetting',600,480);"
                class="expand">定义提示声音</a></li>
        </ul>
    </div>
</div>
<div style="width: 100%; height: 300px">
    <div style="width: 60%" class="left">
        <table id="tableinfo" class="tbPrintList">
            <thead>
                <tr>
                    <th width="140">
                        运单号
                    </th>
                    <th width="140">
                        配送单号
                    </th>
                    <th width="80">
                        入库状态
                    </th>
                    <th width="200">
                        信息
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div style="width: 37%;" class="right">
        <table id="tabledetail" class="tbPrintList">
            <thead>
                <tr>
                    <th width="50">
                        件数
                    </th>
                    <th width="80">
                        客户重量
                    </th>
                    <th width="150">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="ContainerItem">
    <div id="MessageLabel" style="font-weight: bold;" class="">
        @*信息显示处*@
    </div>
    <div id="PrintLabel" style="font-weight: bold;" class="">
        @*信息显示处*@
    </div>
</div>
<div>
    <h2 id="CilentServiceInfo">
        未能连接到本地打印称重服务，不能进行打印和实时称重！ 请联系技术支持检查服务是否正常启动或重新安装服务。 <a href="/Update/ClientService.zip"
            class="red">点击下载安装文件</a>
    </h2>
</div>
@{Html.RenderPartial("_wavMedia");}
