@model Vancl.TMS.Util.Pager.PagedList<Vancl.TMS.Model.BaseInfo.Line.ViewLinePlanModel>
@{
    ViewBag.Title = "线路计划列表";
    Layout = "~/Views/Shared/_Layout_SearchList.cshtml";
}
@section head{
    <script type="text/javascript">
        function Audit(approveStatus) {
            var obj = $(".CbxColumn:not('th') :checked");
            var lpid = "";
            var effectiveTime = "";
            if (obj.length == 0) {
                ymPrompt.alert( {title:"提示",message:"请至少选择一项进行操作！"} );
                return;
            }
            obj.each(function () {
                lpid += $(this).next().val()+',';
                effectiveTime = $(this).next().next().val();
            })
            if (typeof(lpid) == "undefined" || lpid == ""|| effectiveTime == "") {
                return;
            }
            if(obj.length==1 && approveStatus==1)
            {
                ymPrompt.win('@Url.Action("AuditLinePlan")' + "?lpid=" + lpid.substr(0,lpid.length-1) + "&EffectiveTime=" + effectiveTime, 450, 280, '线路审核',
                        handle, null, null, { id: 1 });
            }
            else
            {
                var op = approveStatus==1 ? "审核" : "驳回";
                var parms = {};
                parms.lpids = lpid.substr(0,lpid.length-1);
                parms.ApproveStatus = approveStatus;
                ymPrompt.confirmInfo({ 
                title: '询问',
                message: '你确定要'+op+'选择的 ' + obj.length + ' 项？',
                handler: function (tp) {
                    if (tp == 'ok') {
                        $.ajax({
                            url:'@Url.Action("BatchAudit")',
                            data:parms,
                            dataType:"json",
                            success:function(data){
                                if(data.IsSuccess)
                                {
                                    ymPrompt.succeedInfo({ title: '提示', message: data.Message });
                                    //刷新列表
                                    $("#btnAuditListRefresh").click();
                                }
                                else
                                {
                                    ymPrompt.errorInfo({ title: '提示', message: data.Message });
                                }
                            },
                            error:function()
                            {
                                ymPrompt.errorInfo({ title: '提示', message: "审核操作失败!" });
                            }
                        });
                    }
                }})
            }
        }
        function handle(tp,data) {
            if (tp == "OK") {
                setTimeout(function () {
                    ymPrompt.succeedInfo({ title: '提示', message: data.Message });
                }, 100);
                if (data.IsSuccess) {
                    //刷新列表
                    $("#btnAuditListRefresh").click();
                }
            }
        }
        function ShowExpressionDetail(lpid,expressionType)
        {
            var LineExpression = "";
            var parms = {};
            parms.LPID = lpid;
            parms.ExpressionType = expressionType;
            $.ajax({
                    url:'@Url.Action("GetExpressionDetail")',
                    data:parms,
                    dataType:"json",
                    success:function(data){
                        if(data.IsSuccess)
                        {
                            LineExpression = data.Expression;
                            var parm = "";
                            if(expressionType==0){
                                parm="?fixedPriceList="+LineExpression+"&Operate=look";
                                ymPrompt.win('@Url.Action("SetFixedPrice")' + parm , 450, 280, '查看固定价格',
                                    handler, null, null, { id: 1 });
                            }else if(expressionType==1){
                                parm="?ladderPriceList="+LineExpression+"&Operate=look";
                                 ymPrompt.win('@Url.Action("SetLadderPrice")' + parm , 800, 380, '查看阶梯价格',
                                    handle, null, null, { id: 1 });
                            }else if(expressionType==2){
                                parm="?formulaPriceList="+LineExpression+"&Operate=look";
                                ymPrompt.win('@Url.Action("SetFormulaPrice")' + parm , 450, 320, '查看公式价格',
                                    handle, null, null, { id: 1 });
                            }
                        }
                    }
                });
        }
        function handler()
        {
        }

        $(function () {
        }); 
    </script>
}
@section search
{
    <div class="search_condition">  
        @using (Ajax.BeginForm((AjaxOptions)ViewBag.AjaxOptions))
        {
            <table class="tb_insert Fixed" style="width:auto;">
                <tr>
                    <th>
                        <label for="S_CarrierID">
                            承运商
                        </label>
                    </th>
                    <td>
                        @Html.DropDownList("S_CarrierID", (IEnumerable<SelectListItem>)ViewBag.Carriers, "--请选择--", new { style = "width:150px" })
                    </td>
                    <th>
                        <label for="S_DepartureID">
                            出发地
                        </label>
                    </th>
                    <td>
                        <input id="departureName" type="text" class="textbox selectDeparture" onclick="TMS.Page.SelectStation(this,'#S_DepartureID');" readonly="readonly"/>
                        <input id="S_DepartureID" name="S_DepartureID" type="hidden" />
                    </td>
                    <th>
                        <label for="S_ArrivalID">
                            目的地
                        </label>
                    </th>
                    <td>
                        <input id="arrivalName" type="text" class="drop textbox" onclick="TMS.Page.SelectStation(this,'#S_ArrivalID','#S_DepartureID');"  readonly="readonly" />
                        <input id="S_ArrivalID" name="S_ArrivalID" type="hidden" />
                    </td>
                    <td rowspan="2">
                        <input id="btnSearch" type="submit" name="BtnSearch" value="查询" class="button" />
                        <input id="btnClearSearch" type="button" value="清除查询" class="button" onclick="window.location.reload()" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="S_CarrierID">
                            运输方式
                        </label>
                    </th>
                    <td>
                        @Html.DropDownList("TransportType", "--请选择--")
                    </td>
                    <th>
                        <label for="S_DepartureID">
                            线路类型
                        </label>
                    </th>
                    <td>
                        @Html.DropDownList("LineType", "--请选择--")
                    </td>
                    <th>
                        
                    </th>
                    <td>
                        
                    </td>
                </tr>
            </table>
        }
    </div>
}
@section list
{
    <div id="SearchResultList" class="DataGirdPanel">
        @{Html.RenderPartial("_PartialAuditLinePlanList", Model); }
    </div>
}
