@model IList<Vancl.TMS.Model.Transport.Dispatch.PrintDeliveryNoModel>
@{
    ViewBag.Title = "提货单打印";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <style type="text/css" media="print">
        .print
        {
            display: inline-block !important;
        }
        .noprint
        {
            display: none;
        }
        #PrintDeliverNo
        {
            width: 100%;
        }
        .itemSplit
        {
            border: 0 !important;
        }
    </style>
    <style type="text/css">
        html, body
        {
            font-size: 14px;
            margin: 0 5px;
            padding: 0;
        }
        #PrintSubmit
        {
            position: fixed;
            z-index: 2;
            right:0;
            bottom:0;
            padding:5px;
            background: #ddd;
        }
        #PrintDeliverNo
        {
            width: 100%;
            margin1: 10px auto;
        }
        #PrintDeliverNo .title
        {
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            margin-top1: 20px;
        }
        #PrintDeliverNo .BarCode
        {
            height: 45px;
        }
        .BcTarget
        {
            position: relative;
            top: -10px;
        }
        #PrintDeliverNo .tbDeliverOrderTableInfo
        {
            width: 100%;
            border: 1px solid #000;
            border-collapse: collapse;
            line-height: 30px;
        }
        #PrintDeliverNo .tbDeliverOrderTableInfo th
        {
            border: 1px solid #000;
            padding-right: 5px;
            text-align: right;
            white-space: nowrap;
            table-layout: fixed;
            height: 25px;
            overflow: hidden;
        }
        #PrintDeliverNo .tbDeliverOrderTableInfo td
        {
            border: 1px solid #000;
            padding: 0 5px;
        }
        #PrintDeliverNo .tbDeliverOrderTableInfo2
        {
            margin-top: 2px;
            width: 100%;
            border-collapse: collapse;
            line-height: 30px;
            table-layout: fixed;
        }
        #PrintDeliverNo .tbDeliverOrderTableInfo2 tr, #PrintDeliverNo .tbDeliverOrderTableInfo2 tr th, #PrintDeliverNo .tbDeliverOrderTableInfo2 tr td
        {
            border-bottom: 1px solid #000;
        }
        #PrintDeliverNo .tbDeliverOrderTableInfo2 th
        {
            text-align: left;
            padding-left: 15px;
        }
        #PrintDeliverNo .tbDeliverOrderTableInfo3
        {
            margin-top: 2px;
            width: 100%;
            border-collapse: collapse;
            line-height: 30px;
            table-layout: fixed;
        }
        #PrintDeliverNo .tbDeliverOrderTableInfo2 th
        {
            text-align: left;
            padding-left: 15px;
        }
        .txtInput
        {
            width: 200px;
            border: 0;
            border-bottom: 1px solid #f00;
            height: 25px;
        }
        .itemSplit
        {
            border-bottom: 1px solid blue;
            margin: 10px 0;
            font-size: 0;
            height: 0;
        }
        .itemSplit.pageBreak
        {
            border-bottom: 3px solid blue;
            page-break-after: always;
        }
        .DeliveryItem.even
        {
            margin-top: 60px;
        }
    </style>
    <script src="@Url.Content("~/Scripts/references/jquery-barcode-2.0.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/references/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/references/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".BarCode .BcTarget").each(function () {
                var DeliveryNo = $(this).attr("DeliveryNo");
                $(this).barcode(DeliveryNo, "code128", { barWidth: 1, barHeight: 40 });
            });
            this.focus();

            $("form").submit(function () {
                if ($(this).valid()) {
                    window.print();
                }
                return false;
            });
            $(".txtInput").each(function () {
                $(this).parent().find(".print").text($(this).val());
            });
            $(".txtInput").keyup(function () {
                $(this).parent().find(".print").text($(this).val());
            });
        });
    </script>
}
@using (Html.BeginForm())
{
    <div id="PrintDeliverNo">
        @for (int i = 0; i < Model.Count; i++)
        {
            var item = Model[i];
            var isLast = i == Model.Count - 1;
            <div class="DeliveryItem @(i % 2 == 0 ? "odd" : "even")">
                <h3 class="title" class="center">
                    提货交接单</h3>
                <div class="BarCode">
                    <div class="BcTarget" DeliveryNo="@item.DeliveryNo">
                    </div>
                </div>
                <table class="tbDeliverOrderTableInfo">
                    <tr>
                        <th>
                            日期:
                        </th>
                        <td colspan="3">
                            @item.PrintTime.ToString("yyyy-MM-dd")
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 100px;">
                            提货单号:
                        </th>
                        <td style="width: 300px;">
                            @item.DeliveryNo
                        </td>
                        <th style="width: 100px;">
                            城际运单号:
                        </th>
                        <td style="width: 300px;">
                            @item.WaybillNo
                        </td>
                    </tr>
                    <tr>
                        <th>
                            承运商:
                        </th>
                        <td>
                            @item.CarrierName
                        </td>
                        <th>
                            车牌号:
                        </th>
                        <td>
                            @Html.TextBoxFor(m => m[i].PlateNo, new { @class = "txtInput noprint" })
                            <span class="hide print"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            发货地:
                        </th>
                        <td>
                            @item.DepartureName
                        </td>
                        <th>
                            发货人:
                        </th>
                        <td>
                            @Html.TextBoxFor(m => m[i].Consignor, new { @class = "txtInput noprint" })
                            <span class="hide print"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            目的地:
                        </th>
                        <td>
                            @item.ArrivalName
                        </td>
                        <th>
                            收货人:
                        </th>
                        <td>
                            @Html.TextBoxFor(m => m[i].Consignee, new { @class = "txtInput noprint" })
                            <span class="hide print"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            收货地址:
                        </th>
                        <td>
                            @Html.TextBoxFor(m => m[i].ReceiveAddress, new { @class = "txtInput noprint" })
                            <span class="hide print"></span>
                        </td>
                        <th>
                            收货人电话:
                        </th>
                        <td>
                            @Html.TextBoxFor(m => m[i].ConsigneePhone, new { @class = "txtInput noprint" })
                            <span class="hide print"></span>
                        </td>
                    </tr>
                </table>
                <div class="split">
                </div>
                <table class="tbDeliverOrderTableInfo2">
                    <tr>
                        <th>
                            总箱数:
                        </th>
                        <td>
                            @item.BoxCount
                        </td>
                    </tr>
                    <tr>
                        <th>
                            订单总数量:
                        </th>
                        <td>
                            @item.TotalOrderCount
                        </td>
                    </tr>
                    <tr>
                        <th>
                            订单总重量（kg）:
                        </th>
                        <td>
                            @item.TotalWeight.ToString("f2")
                        </td>
                    </tr>
                    <tr>
                        <th>
                            保价金额（元）:
                        </th>
                        <td>
                            @item.TotalAmount.ToString("f2")
                        </td>
                    </tr>
                </table>
                <div class="split">
                </div>
                <table class="tbDeliverOrderTableInfo3">
                    <tr>
                        <th>
                            发货人签字:
                        </th>
                        <td>
                        </td>
                        <th>
                            司机签字:
                        </th>
                        <td>
                        </td>
                        <th>
                            收货人签字:
                        </th>
                        <td>
                        </td>
                    </tr>
                </table>
                <div class="split">
                </div>
            </div>
            <div class="itemSplit @(i % 2 == 1 && !isLast ? "pageBreak" : "")">
            </div>
        }
        <div class="center noprint" id="PrintSubmit">
            <input type="submit" class="button noprint center" value="打印提货交接单" />
            <div class="noprint" style="font-size: 12px; color: #DD940A; width: 204px; clear: both;
                text-align: left; padding-top: 3px">
                注：如果需要打印网页时不显示页眉页脚,请设置IE的"文件"菜单->页面设置",把"页眉"和"页脚"栏中的内容设置为空!
            </div>
        </div>
    </div>
}