@{
    ViewBag.Title = "批量入库";
    Layout = "~/Views/Shared/_Layout_Frame.cshtml";
}
@section header{
    <script src="@Url.Content("~/Scripts/references/jQuery.tmpl.min.js")  " type="text/javascript"></script>
    <script id="tmpErrorList" type="text/html">
			<tr>
				<td>
					${WaybillNo}
				</td>
				<td>
					${CustomerOrder}
				</td>
                <td>
					${ErrorMsg}
				</td>
			</tr>
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/pages/Sorting/BatchInbound.js?" + DateTime.Now.ToString("yyyyMMdd"))"></script>
    <style type="text/css">
        .tb_insert tr th
        {
            width: 130px;
            text-align: right;
        }
        .cur
        {
            font-size: large !important;
            font-weight: bolder !important;
        }
    </style>
}
<div class="search_condition" id="divSearchCondition">
    <table class="tb_insert">
        <tr id="trSortingCenterSelect">
            <th>
                <input type="radio" name="sortingCenterSelect" class="sortingCenterSelect" value="0"
                    id="rdoStation" checked="checked" />分拣站点：
            </th>
            <td>
                @{Html.RenderPartial("CityAndStation");}
            </td>
            <th>
                <input type="radio" name="sortingCenterSelect" class="sortingCenterSelect" value="2"
                    id="rdoSortingCenter" style="margin-left: 50px;" />二级分拣：
            </th>
            <td>
                @Html.DropDownList("SortingCenterList")
            </td>
            <th>
                <input type="radio" name="sortingCenterSelect" class="sortingCenterSelect" value="3"
                    id="rdoDistribution" style="margin-left: 50px;" />配送商：
            </th>
            <td>
                @Html.DropDownList("DistributorList")
            </td>
        </tr>
        <tr>
            <th>
                今日扫描成功入库数:
            </th>
            <td colspan="5">
                <span id="CurrentOpCount" style="font-size: 30px; font-weight: bold;">0</span>
            </td>
        </tr>
    </table>
</div>
<div class="DataGirdPanel">
    <div>
        <select id="selFormType" class="ScanInput">
            <option value="0" selected="selected">运单号</option>
            <option value="1">订单号</option>
            <option value="2">配送单号</option>
        </select>
        <input id="batchInbound" type="button" value="批量入库" />
    </div>
    <div style="float:left">
        <span>共录入单数:</span> <span id="TotalInputCount" style="font-size:30px; font-weight: bold;"> 0</span>
        <span style="margin-left:50px">入库成功数:</span> <span id="OperateSucceedCount" style="font-size: 30px; font-weight: bold;"> 0</span><br />
        <textarea id="txtFormCodeList" style="height:280px;width:300px" rows="50"></textarea>
    </div>
    <div class="tablelist" style="float:left;margin-left:30px">
    <span>入库失败数量:</span><span id="OperateErrorCount" style="font-size:30px; font-weight: bold;">0</span><br />
        <table cellpadding="0" cellspacing="0" border="0" class="DataTable center" style="min-width:450px" id="tblErrorBillInfo">
            <thead>
                <tr>
                    <th>
                        运单号
                    </th>
                    <th>
                        订单号
                    </th>
                    <th>
                        错误信息
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div style="clear:both"></div>
</div>
<input type="hidden" id="hdInitData" value="@ViewBag.HiddenValue" />

